{% extends 'core/base.html' %}

{% load static %}

{% block content %}

{% include 'core/nav.html' with p=uname %}


<div class="container mt-2">

    <img src="{% static 'user/img/edu.svg' %}" alt="" class="img-fluid" style="width: 100%; height: 300px;">
    <h2 class="display-5 text-center">Enough Topper, Lets Have A Cup Of Tea <i class="fa-solid fa-mug-hot"></i></h2>
</div>





  <div class="container">
    <div class="row">
        <div class="col-sm-4 mt-4">
            <div class="card bg-dark" style="width: 18rem;">
                <ul class="list-group list-group-flush bg-dark">
                  <li class="list-group-item bg-dark text-light">Select any topic</li>
                  <li class="list-group-item bg-dark text-light">There will be 10 questions based on your selected topic.</li>
                  <li class="list-group-item bg-dark text-light">Each questions will be of 1 ₹.</li>
                  <li class="list-group-item bg-dark text-light">Give at least 5  correct answer for getting reward.</li>
                </ul>
                <div class="card-footer bg-dark">
                  Upi number should be correct.
                </div>
              </div>
        </div>
        <div class="col-sm-8">
            <div class="container mt-4">
                <div class="card text-center bg-dark">
                    <div class="card-header">
                      Select Topic
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">
                        <select name="course" id="course" class="form-control  ">
                            <option value="p">Programming</option>
                            <option value="p">Programming</option>
                            <option value="p">Programming</option>
                        </select>
                      </h5>
                      <p class="card-text">If you are a new user you can attempt only one time test session. <br>   <br>For attempting multiple times test session please <a href="{% url 'crtaccount' %}" class='text-primary'>create account</a> .</p>
                      <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                    </div>
                    <div class="card-footer text-muted">
                      2 days ago
                    </div>
                  </div>
            </div>
        </div>
    </div>
  </div>





<div class="container mt-5">
<div class="row">
    
    <div class="col-sm-4">
        <h3>About Us</h3>
    </div>

    <div class="col-sm-8">
        <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quod animi? Ut voluptates corporis voluptate non facere exercitationem, sapiente laudantium eaque iste qui molestiae reprehenderit suscipit blanditiis ullam saepe. Deserunt?ss</b></p>
        <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quod animi? Ut voluptates corporis voluptate non facere exercitationem, sapiente laudantium eaque iste qui molestiae reprehenderit suscipit blanditiis ullam saepe. Deserunt?ss</b></p>
        
        <hr class="text-light">
    </div>
</div>
</div>


<div class="container">
    <div class="row">
    

        <div class="col-sm-4">
            <h3>Rules</h3>
        </div>
        <div class="col-sm-8">
            <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quod animi? Ut voluptates corporis voluptate non facere exercitationem, sapiente laudantium eaque iste qui molestiae reprehenderit suscipit blanditiis ullam saepe. Deserunt?ss</b></p>
            <p><b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quod animi? Ut voluptates corporis voluptate non facere exercitationem, sapiente laudantium eaque iste qui molestiae reprehenderit suscipit blanditiis ullam saepe. Deserunt?ss</b></p>
    
            <hr class="text-light">
        </div>
    
     
    </div>
    </div>
</div>


<div class="container mt-4">
    <div class="card bg-dark">
        <div class="card-header">
          Quote
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>“Education is the most powerful weapon you can use to change the world.” </p>
            <footer class="blockquote-footer">Baba HimDim Dole<cite title="Source Title"> ( Premika ki kitab )</cite></footer>
          </blockquote>
        </div>
      </div>
</div>


{% include 'core/foot.html' %}
{% endblock content %}