{% extends 'core/base.html' %}
{% load static %}

{% block title %}
<title>Login : Tea Time</title>
{% endblock title %}



{% block content %}

{% include 'core/nav.html' %}
{% if messages %}
{% for i in messages %}

<div class="alert alert-danger">
    {{i}}
</div>

{% endfor %}
{% endif %}


<div class="container mt-4">

    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'core/img/tea.svg' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            <div class="card bg-dark mt-4" style="width: 18rem;">
                <ul class="list-group list-group-flush bg-dark">
                  <li class="list-group-item bg-dark">
                    <form action="" method="post">
                        {% csrf_token %}
                    <label for="email" class="mt-2 text-light"><b>Email</b></label>
                    <input type="email" name="email" id="email" placeholder="Email" required class="form-control mt-2" ></li>
                  <li class="list-group-item text-light bg-dark"> <label for="password" class="mt-2"><b>Password</b></label>
                    <input type="password" name="password" id="password" placeholder="password" required class="form-control mt-2"></li>
                  <li class="list-group-item bg-dark"><input type="submit" value="Login" class="btn btn-outline-primary">
                    <a href="{% url 'crtaccount' %}" class='btn btn-outline-success mx-2'>Create Account</a>
                </li>
            </form>
                <li class="list-group-item bg-dark"> 
                    <a href="" class="text-primary">Forgot Password</a>
                </li>
                </ul>
              </div>

        </div>

        <div class="col-sm-6">
            <img src="{% static 'user/img/login.svg' %}" alt="login" class="img-fluid">
        </div>
    </div>

</div>


{% include 'core/foot.html' %}

{% endblock content %}