{% load static %}
<div class="container-fluid mt-4 bg-dark">

   
    <p class="text-center" ><a href="" class="text-light" style='text-decoration: none;'>Contact us <i class="fas fa-phone"></a></i> </p>
    <p class="text-center" ><a href="" class="text-light" style='text-decoration: none;'>Mail us <i class="fas fa-cog"></a></i> </p>
    <p class="text-center" ><a href="" class="text-light" style='text-decoration: none;'>Feedback <i class="fas fa-pen"></a></i> </p>
    <p class="text-center" ><a href="" class="text-light" style='text-decoration: none;'>Report Bug <i class="fas fa-bug"></a></i> </p>
    <p class="text-center" ><a href="" class="text-light" style='text-decoration: none;'>Donate Money <i class="fas fa-rupee"></a></i> </p>


    <div class="text-center">
        
        <img src="{% static 'core/img/tea.svg' %}" alt="" class="img-fluid" width="50" height="30">
        <p class='mt-2'>©teatime, Inc. All rights reserved.</p>
    </div>

</div>